.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/c++/FileContentIndex/256e7ac6-44d6-4f11-a50f-06c12644f626.vsidx
.vs/c++/FileContentIndex/read.lock
.vs/c++/v17/.suo
.vs/c++/v17/Browse.VC.db
.vs/c++/v17/ipch/AutoPCH/a6ec4270f67ecfeb/CONSOLEAPPLICATION2.ipch
.vs/c++/v17/ipch/AutoPCH/f72ffa4002e37bb5/1.ipch
